@model CakeShop.Models.Cake

    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
        <h2>@Model.Name</h2>
        <a class="thumbnail" asp-controller="Cake" asp-action="Details" asp-route-id=@Model.CakeId>
            <img class="img-responsive" src=@Model.ImageUrl alt="">
        </a>
        <h3>@Model.Price.ToString("c")</h3>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-pieId="@Model.CakeId">Add to cart</a>
            </p>
        </div>
    </div>
